/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;



// Aquí puedes personalizar los temas de Angular Material
// Por ejemplo, podrías definir un tema básico
$primary: mat.define-palette(mat.$indigo-palette, 100);
$accent: mat.define-palette(mat.$pink-palette);
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent
  )
));

@include mat.all-component-themes($theme);

//quitar caja debajo del input
.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

//cambiar a blanco cuando selecciono en campo
.mdc-text-field--filled {
  background-color: white !important;
}

// el requiere * blanco
.mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
  color: white !important;
}

