.form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


//ajustar contenido al sidebar
.page-wrapper {
    display: flex;
  }
  
  .content-wrapper {
    flex-grow: 1;
    padding: 20px;
    margin-left: 260px; 
  }
  
  .table-responsive {
    overflow-x: auto;
  }

  