body, ul, li, p, a, label, input, div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}

.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}

.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}

.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
}

/* General */
.logo { 
  font-weight: 500 !important;
}

.text-warning {  
  color: #ede861 !important;
}

.text-muted { 
  color: #bcbcbc !important;
}

.text-success { 
  color: #59ab6e !important;
}

.text-light { 
  color: #cfd6e1 !important;
}

.bg-dark { 
  background-color: #212934 !important;
}

.bg-light { 
  background-color: #e9eef5 !important;
}

.bg-black { 
  background-color: #1d242d !important;
}

.bg-success { 
  background-color: #59ab6e !important;
}

.btn-success {
  background-color: #59ab6e !important;
  border-color: #56ae6c !important;
}

.pagination .page-link:hover {
  color: #000;
}

.pagination .page-link:hover, 
.pagination .page-link.active {
  background-color: #69bb7e;
  color: #fff;
}



/* Product */
.product-card {
  max-width: 100%; /* Se asegura de que la tarjeta no exceda el ancho del contenedor */
  min-height: 350px; /* Altura mínima para todas las tarjetas */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Para alinear el contenido de manera uniforme */
}

.product-image {
  max-width: 100%; /* Se asegura de que la imagen no exceda el ancho de la tarjeta */
  max-height: 200px; /* Altura máxima de la imagen */
  object-fit: cover; /* Mantiene la proporción de la imagen */
}

.product-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(149, 149, 149, 0.31); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.product-card:hover .product-overlay {
  opacity: 0.5; 
}


.product-card .product-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
}


.card.product-wap:hover img.card-img {
  opacity: 0.5; /* Ajusta la opacidad según sea necesario */
}

#carousel-related-product .slick-slide:focus { 
  outline: none !important;
}

#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}

@media (min-width: 576px) {
  .tempaltemo-carousel .h1 { 
      font-size: 1em !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #templatemo_main_nav .navbar-nav {
      max-width: 450px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #templatemo_main_nav .navbar-nav {
      max-width: 550px;
  }
  #template-mo-zay-hero-carousel .carousel-item {
      min-height: 30rem !important;
  }
  .product-wap .h3, 
  .product-wap li, 
  .product-wap i, 
  .product-wap p {
      font-size: 18px !important;
  }
  .product-wap .product-color-dot {
      width: 12px;
      height: 12px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Add extra large device specific styles here if needed */
}

.options {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.product-color-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}

.options li {
  display: inline-block; 
  margin-right: 10px; 
}

.icons{
  color: white;
  background-color: #000;
}

.price-box {
  border: 2px solid #000000; /* Cambia el color del borde según tu preferencia */
  padding: 10px; /* Ajusta el relleno según tu preferencia */
  margin-top: 10px;
  border-radius: 5px; /* Opcional: para bordes redondeados */
  background-color: #fff; /* Opcional: fondo blanco para el recuadro */
}
