/* General */
.product-card {
  max-width: 100%; /* Se asegura de que la tarjeta no exceda el ancho del contenedor */
  min-height: 400px; /* Altura mínima para todas las tarjetas */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Para alinear el contenido de manera uniforme */
  position: relative; /* Necesario para el overlay */
}

.product-image {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 200px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Mantiene la proporción de la imagen, recorta si es necesario */
}

.product-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(149, 149, 149, 0.31); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.product-card:hover .product-overlay {
  opacity: 0.5; /* Ajusta la opacidad del overlay al pasar el ratón */
}

.card.product-wap:hover img.card-img {
  opacity: 0.5; /* Ajusta la opacidad de la imagen al pasar el ratón */
}

.product-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
}

.options {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.product-color-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}

.options li {
  display: inline-block; 
  margin-right: 10px; 
}

.icons {
  margin-bottom: 200px;
  color: white;
  background-color: #000;
}

.price-box {
  border: 2px solid #000000; /* Cambia el color del borde según tu preferencia */
  padding: 10px; /* Ajusta el relleno según tu preferencia */
  margin-top: 10px;
  border-radius: 5px; /* Opcional: para bordes redondeados */
  background-color: #fff; /* Opcional: fondo blanco para el recuadro */
}

/* Estilos de paginación */
.mat-paginator {
  margin-top: 20px; /* Ajusta el espacio superior según sea necesario */
  justify-content: flex-end; /* Alinea la paginación a la derecha */
}

/* Responsive */
@media (min-width: 576px) {
  .tempaltemo-carousel .h1 { 
    font-size: 1em !important;
  }
}

@media (min-width: 768px) {
  #templatemo_main_nav .navbar-nav {
    max-width: 450px;
  }
}

@media (min-width: 992px) {
  #templatemo_main_nav .navbar-nav {
    max-width: 550px;
  }
  #template-mo-zay-hero-carousel .carousel-item {
    min-height: 30rem !important;
  }
  .product-wap .h3, 
  .product-wap li, 
  .product-wap i, 
  .product-wap p {
    font-size: 18px !important;
  }
  .product-wap .product-color-dot {
    width: 12px;
    height: 12px;
  }
}
