<app-header></app-header>
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Categorias</h1>
            <mat-nav-list class="templatemo-accordion">
                <mat-list-item>
                    <a matLine class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Frutas
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a matLine class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Verduras
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a matLine class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Granos
                    </a>
                </mat-list-item>
            </mat-nav-list>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-4" *ngFor="let product of products">
                    <mat-card class="mb-3 product-wap rounded-0" (mouseenter)="product.showActions = true" (mouseleave)="product.showActions = false">
                        <img mat-card-image class="card-img rounded-0 img-fluid" src="../../../../assets/img/product.jpg">
                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center" *ngIf="product.showActions">
                            <ul class="options">
                                <li><button mat-icon-button color="primary" (click)="openSignUp()"><mat-icon>visibility</mat-icon></button></li>
                                <li><button mat-icon-button color="primary"><mat-icon>add_shopping_cart</mat-icon></button></li>
                            </ul>
                        </div>
                        <mat-card-content>
                            <a mat-card-title class="h3 text-decoration-none">Producto Orgánico</a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li>15/07/24</li>
                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>
                            <p class="text-center mb-0">$250.00</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <!-- Paginación con MatPaginator -->
            <div class="row justify-content-end mt-4">
                <mat-paginator [length]="100"
                               [pageSize]="10"
                               [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
            <!-- Fin Paginación -->

        </div>

    </div>
</div>
<!-- Fin Content -->

<app-footer></app-footer>
