table {
  width: 100%;
}

//ajustar contenido al sidebar
.page-wrapper {
  display: flex;
}

.content-wrapper {
  flex-grow: 1;
  padding: 20px;
  margin-left: 260px; 
}

.table-responsive {
  overflow-x: auto;
}

