.table {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

ngx-datatable.material {
  width: 100%;
  margin: 20px 0;
}

ngx-datatable {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
