/* Ajuste de contenido al sidebar */
.page-wrapper {
  display: flex;
}

.content-wrapper {
  flex-grow: 1;
  padding: 20px;
  margin-left: 260px; /* Ancho del sidebar */
}

.welcome{
  padding-top: 60px;
  text-align: center;
}


h1{
  font-size: 65px;
}

h2{
  font-size: 30px;
}