<ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<div class="signup">
    <h2>Sign In</h2>
    <form class="form" [formGroup]="signInForm">
        <div class="textbox">
            <mat-form-field class="custom-input" appearance="outline">
                <mat-label class="textoImp">Correo</mat-label>
                <input matInput type="text" formControlName="email" required />
                <mat-icon class="icon" matPrefix>email</mat-icon>
            </mat-form-field>
        </div>
        <div class="textbox">
            <mat-form-field class="custom-input" appearance="outline">
                <mat-label class="textoImp">Password</mat-label>
                <input matInput type="password" formControlName="password" required />
                <mat-icon class="icon" matPrefix>lock</mat-icon>
            </mat-form-field>
        </div>
        <button mat-raised-button class="boton-signin" type="submit" (click)="testUsers()">
            Sign In
            <mat-icon>arrow_forward</mat-icon>
        </button>
        <button mat-raised-button class="google-button">
            <img src="assets/google.png" alt="Google" class="google-icon">
            Iniciar sesión con Google
        </button>
        <button mat-button class="boton-signup" (click)="openSignUp()">
            ¿No tienes cuenta? Registrate!
        </button>
    </form>


</div>