/* Estilos generales para el formulario */
form {
  display: flex;
  flex-direction: column;
}

/* Estilo para los campos de formulario */
mat-form-field {
  margin-bottom: 16px;
}

/* Estilo para el contenido del modal */
.mat-dialog-content {
  display: flex;
  flex-direction: column;
}

/* Estilo para las acciones del modal */
.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

/* Botones de acción */
button {
  margin-left: 8px;
}

/* Estilo para el input de tipo archivo */
input[type="file"] {
  display: none;
}

/* Estilo para la etiqueta del input de tipo archivo */
.file-label {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  background-color: #2c3e50; /* Color de fondo oscuro */
  border-radius: 4px;
  text-align: center;
  margin-bottom: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #34495e; /* Color de fondo oscuro al pasar el mouse */
  }

  &:active {
    background-color: #2e4053; /* Color de fondo oscuro al activar */
  }
}

/* Ocultar las flechas del campo de número en todos los navegadores */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Ajuste de contenido al sidebar */
.page-wrapper {
  display: flex;
}

.content-wrapper {
  flex-grow: 1;
  padding: 20px;
  margin-left: 260px; /* Ancho del sidebar */
}

.table-responsive {
  overflow-x: auto;
}
button {
  margin-left: 8px;
  color: #fff; /* Color del texto */
  padding: 8px 16px; /* Espaciado interior */
  border-radius: 4px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}

/* Estilo para el botón de Cancelar */
.btn-cancel {
  background-color: #9f2020; /* Color de fondo rojo */
}

/* Estilo para el botón de Añadir */
.btn-add {
  background-color: #204f9f; /* Color de fondo verde */
}

/* Cambios de color al pasar el mouse sobre los botones */
button:hover {
  opacity: 0.8; /* Opacidad reducida */
}
