<p>add-product works!</p>

<h1 mat-dialog-title>Añadir Producto</h1>
<div mat-dialog-content>
  <form [formGroup]="addProductForm">
    <mat-form-field>
      <mat-label>URL de la Imagen</mat-label>
      <input matInput formControlName="image" placeholder="URL de la Imagen">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre del Producto</mat-label>
      <input matInput formControlName="name" placeholder="Nombre del Producto">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Precio del Producto</mat-label>
      <input matInput formControlName="price" placeholder="Precio del Producto" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripción del Producto</mat-label>
      <textarea matInput formControlName="description" placeholder="Descripción del Producto"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Stock del Producto</mat-label>
      <input matInput formControlName="stock" placeholder="Stock del Producto" type="number">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onAddClick()">Añadir</button>
</div>
