<div class="modal-container">
  <h2>Gracias por su compra</h2>
  <div>
    <p>Su compra será procesada una vez que se realice el pago a la siguiente cuenta:</p>
    <ul>
      <li><strong>Cuenta:</strong> 220000001</li>
      <li><strong>Nombre:</strong> Ecovida</li>
    </ul>
  </div>
  <!-- Imagen añadida -->
  <div class="image-container">
    <img src="../../../../assets/img/qr.jpeg" alt="Imagen de Confirmación" />
  </div>
  <button mat-raised-button color="primary" (click)="goHome()">Aceptar</button>
</div>
