<app-header></app-header>

<div class="container py-5">
    <h2 class="h2">Contáctanos</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="contact-info">
                <h3 class="h3">Información de Contacto</h3>
                <p><strong>Teléfono:</strong> +123 456 7890</p>
                <p><strong>Email:</strong> ecovida@espe.edu.ec</p>
                <p><strong>Dirección:</strong> Sangolqui Espe 123</p>
            </div>
        </div>

        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.758093603418!2d-78.44509422573967!3d-0.31481563533443635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5bd12538eb13b%3A0x907c61f1abbe45ab!2sUniversidad%20de%20las%20Fuerzas%20Armadas%20ESPE!5e0!3m2!1ses!2sec!4v1720861953432!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
    </div>
</div>

