<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <h1 class="table">Lista de Pedidos</h1>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <ng-container matColumnDef="shipment">
      <th mat-header-cell *matHeaderCellDef> Método de Envío </th>
      <td mat-cell *matCellDef="let element"> {{ getShipmentName(element.shipmentId) }} </td>
    </ng-container>

    <ng-container matColumnDef="method">
      <th mat-header-cell *matHeaderCellDef> Método </th>
      <td mat-cell *matCellDef="let element"> {{ element.method }} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{ element.state }} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let element"> {{ element.total | currency:'USD':'symbol':'1.2-2' }} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element" class="actions">
        <button mat-icon-button (click)="changeStatus(element, 'PAGADO')" aria-label="Marcar como Pagado">
          <mat-icon>attach_money</mat-icon>
        </button>
        <button mat-icon-button (click)="changeStatus(element, 'PENDIENTE')" aria-label="Marcar como Pendiente">
          <mat-icon>money_off</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Ganancia Total y Ingresos en Proceso -->
  <div class="summary-box">
    <div class="summary-item">
      <span>Ganancia Total:</span>
      <span>{{ totalEarned | currency:'USD':'symbol':'1.2-2' }}</span>
    </div>
    <div class="summary-item">
      <span>Ingresos en Proceso:</span>
      <span>{{ pendingIncome | currency:'USD':'symbol':'1.2-2' }}</span>
    </div>
  </div>
</div>
