<div class="container">
    <h2 class="heading">Sign Up</h2>
    <form class="form"  [formGroup]="signUpForm">
        <mat-form-field class="input">
            <mat-label>Cédula</mat-label>
            <input matInput formControlName="id" name="id" required required maxlength="10"/>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Nombre y Apellido</mat-label>
            <input matInput formControlName="name" name="name" required required maxlength="64"
                (keydown)="disallowSpecialCharacters($event)" (paste)="handlePaste($event)" />
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" name="email" type="email" required required maxlength="32"
                (keydown)="disallowSpecialCharacters($event)" (paste)="handlePaste($event)" />
        </mat-form-field>

        <mat-form-field class="input">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" id="password" name="password" type="password" required
                [(ngModel)]="password" (keyup)="checkPasswordStrength()" required
                maxlength="16" >
            <div *ngIf="password">
                <div class="password-strength-bar" [ngClass]="passwordStrength"></div>
                <div class="password-message" *ngIf="passwordMessage">{{ passwordMessage }}</div>
            </div>
        </mat-form-field>

        
        <br><br>
        <mat-form-field class="input">
            <mat-label>Tipo de Cuenta</mat-label>
            <mat-select formControlName="role"  name="role" required>

            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" class="login-button">Sign Up</button>
    </form>
</div>