<div class="container">
    <h2 class="heading">Sign Up</h2>
    <form class="form" [formGroup]="registerForm">
        <mat-form-field class="input">
            <mat-label>Cédula</mat-label>
            <input matInput  name="id" required maxlength="10" />
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Nombre y Apellido</mat-label>
            <input matInput formControlName="name" name="name" required maxlength="64"
                (keydown)="disallowSpecialCharacters($event)" (paste)="handlePaste($event)" />
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" name="email" type="email" required maxlength="32"
                (keydown)="disallowSpecialCharacters($event)" (paste)="handlePaste($event)" />
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telf" name="telf" type="tel" required 
            (keydown)="disallowSpecialCharacters($event)" (paste)="handlePaste($event)"/>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="dir" name="dir" type="text" required 
            (keydown)="disallowSpecialCharacters($event)" (paste)="handlePaste($event)"/>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" id="password" name="password" type="password" required
                (keyup)="checkPasswordStrength()" maxlength="16" />
        </mat-form-field>

        <mat-form-field class="input">
            <mat-label>Tipo de Cuenta</mat-label>
            <mat-select formControlName="role" name="role" required>
                <mat-option value="ADMIN">Administrador</mat-option>
                <mat-option value="CONSUMIDOR">Consumidor</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" class="login-button">Sign Up</button>
    </form>
</div>
